hr{
    border-top: 4px solid rgba(0, 0, 0, 0.274);
}


.header-4{
    margin: 1rem;
    padding: 2rem;
    background-color: rgba(192, 192, 192, 0.493);
}

div.card-desk{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    justify-items: center;
}
div.session-desk{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
}

.side_banner{
    justify-items: center;
    text-align: center;
    margin: 2rem;
    height: 500px;
    background-color: skyblue;
}

div.last-block{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.carousel-item img {
    max-height: 500px; /* input your desired height here */
    object-fit: cover;
  }


.head_div{
    padding: 3rem 0 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
}