{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container col-10">
    <div class="head_div">
        <iframe width="1000" height="500" src="https://www.youtube.com/embed/ciXKVBxWOAE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="about_film col-10">
            <div>
                <h2 class="text-center mt-2">{{ film.title }}</h2>
                <img src="{{ film.poster.url }}" alt="" class="col-12">
                <hr>
                <div class="text-center">
                    <a href="#" class="btn btn-primary from-control"><big>Купити квиток</big></a>
                </div>
            </div>
        </div>
        <p class="mt-2 ml-3">Опис:<br> {{ film.description }}</p>
    </div> 
    <h4 class="text-center header-4">Інформація про фільм</h4>
    <div class="film_detail row">
        <div class="cont col-5">
            <table class="table table-dark">
                <tbody>
                    <style>
                        td{
                            text-align: center;
                        }
                    </style>
                    <tr>
                        <td>Рік:</td>
                        <td>{{ description.year }}</td>
                    </tr>
                    <tr>
                        <td>Жанр:</td>
                        <td>{{ description.genre }}</td>
                    </tr>
                    <tr>
                        <td>Країна:</td>
                        <td>{{ description.country }}</td>
                    </tr>
                    <tr>
                        <td>Режисер:</td>
                        <td>{{ description.director }}</td>
                    </tr>
                    <tr>
                        <td>Сценарист:</td>
                        <td>{{ description.screenwriter }}</td>
                    </tr>
                    <tr>
                        <td>Продюсер:</td>
                        <td>{{ description.producer }}</td>
                    </tr>
                    <tr>
                        <td>Композитор:</td>
                        <td>{{ description.composer }}</td>
                    </tr>
                    <tr>
                        <td>Оператор:</td>
                        <td>{{ description.budget }}</td>
                    </tr>
                    <tr>
                        <td>Бюджет:</td>
                        <td>{{ description.duration }}</td>
                    </tr>
                    <tr>
                        <td>Тривалість:</td>
                        <td>{{ description.age }}</td>
                    </tr>
                    <tr>
                        <td>Вік:</td>
                        <td>{{ description.film }}</td>
                    </tr>
                </tbody>
            </table>
    
        </div>
        <div class="col-7">
            <div id="my-carousel3" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for gallery in gallery %}
                        {% if forloop.first %}<div class="carousel-item active">{% else %}<div class="carousel-item">{% endif %}
                            <img class="d-block w-100" src="{{ gallery.image.url }}" alt="hthrthr">
                        </div>
                    {% endfor %}
                    
                </div>
                <a class="carousel-control-prev" href="#my-carousel3" data-slide="prev" role="button">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#my-carousel3" data-slide="next" role="button">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="seans_calendar">
        <h4 class="text-center header-4">Розклад сеансів в кінотеатрах</h4>
        <div class="column">
            <div class="row">
                <p class="m-3 pl-3">Оберіть ваше місто:</p>
                <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Київ</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Львів</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Харків</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Дніпро</a>
                </div>
            </div>
            <div class="col-12">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                        <div>
                            <div class="row">
                                <div class="col-1">
                                    <div class="list-group" id="list-tab_1" role="tablist">
                                        <a class="list-group-item list-group-item-action active" id="list-home-list_1" data-toggle="list" href="#list-home_1" role="tab" aria-controls="home">Всі</a>
                                        <a class="list-group-item list-group-item-action" id="list-profile-list_1" data-toggle="list" href="#list-profile_1" role="tab" aria-controls="profile">3D</a>
                                        <a class="list-group-item list-group-item-action" id="list-messages-list_1" data-toggle="list" href="#list-messages_1" role="tab" aria-controls="messages">2D</a>
                                    </div>
                                </div>
                                <div class="col-11">
                                    <div class="tab-content" id="nav-tabContent_1">
                                        <div class="tab-pane fade show active mt-5" id="list-home_1" role="tabpanel" aria-labelledby="list-home-list_1">
                                            <div class="session-desk">
                                                {% for session in sessions %}
                                                    <div class="list-group" style="width: 100%;">
                                                        <div class="list-group-item">
                                                            <div class="d-flex w-100 justify-content-between">
                                                                <p class="card-title m-0">{{ session.session.date|date:"d M" }}</p>
                                                                {% if session.three_d %}
                                                                    <span class="badge badge-success">3D</span>
                                                                {% else %}
                                                                    <span class="badge badge-primary">2D</span>
                                                                {% endif %}
                                                            </div>
                                                            <div class="d-flex w-100 justify-content-between mt-2">
                                                                <p class="card-text m-0">{{ session.session.time|date:"H:i" }}</p>
                                                                <p class="m-0">Зал: {{ session.hall }}</p>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="tab-pane fade  mt-5" id="list-profile_1" role="tabpanel" aria-labelledby="list-profile-list_1">
                                            <div class="session-desk">
                                                {% for session in sessions %}
                                                    {% if session.three_d %}
                                                    <div class="list-group" style="width: 100%;">
                                                        <div class="list-group-item">
                                                            <div class="d-flex w-100 justify-content-between">
                                                                <p class="card-title m-0">{{ session.session.date|date:"d M" }}</p>
                                                                <span class="badge badge-success"><big>3D</big></span>
                                                            </div>
                                                            <div class="d-flex w-100 justify-content-between mt-2">
                                                                <p class="card-text m-0">{{ session.session.time|date:"H:i" }}</p>
                                                                <p class="m-0">Зал: {{ session.hall }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="tab-pane fade mt-5" id="list-messages_1" role="tabpanel" aria-labelledby="list-messages-list_1">
                                            <div class="session-desk">
                                                {% for session in sessions %}
                                                    {% if not session.three_d %}
                                                        <div class="list-group" style="width: 100%;">
                                                            <div class="list-group-item">
                                                                <div class="d-flex w-100 justify-content-between">
                                                                    <p class="card-title m-0">{{ session.session.date|date:"d M" }}</p>
                                                                    <span class="badge badge-primary"><big>2D</big></span>
                                                                </div>
                                                                <div class="d-flex w-100 justify-content-between mt-2">
                                                                    <p class="card-text m-0">{{ session.session.time|date:"H:i" }}</p>
                                                                    <p class="m-0">Зал: {{ session.hall }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <div>
                            <div class="row">
                                <div class="col-1">
                                    <div class="list-group" id="list-tab_2" role="tablist">
                                        <a class="list-group-item list-group-item-action active" id="list-home-list_2" data-toggle="list" href="#list-home_2" role="tab" aria-controls="home">Всі</a>
                                        <a class="list-group-item list-group-item-action" id="list-profile-list_2" data-toggle="list" href="#list-profile_2" role="tab" aria-controls="profile">3D</a>
                                        <a class="list-group-item list-group-item-action" id="list-messages-list_2" data-toggle="list" href="#list-messages_2" role="tab" aria-controls="messages">2D</a>
                                    </div>
                                </div>
                                <div class="col-11">
                                    <div class="tab-content" id="nav-tabContent_2">
                                        <div class="tab-pane fade show active" id="list-home_2" role="tabpanel" aria-labelledby="list-home-list_2">4</div>
                                        <div class="tab-pane fade" id="list-profile_2" role="tabpanel" aria-labelledby="list-profile-list_2">5</div>
                                        <div class="tab-pane fade" id="list-messages_2" role="tabpanel" aria-labelledby="list-messages-list_2">6</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                        <div>
                            <div class="row">
                                <div class="col-1">
                                    <div class="list-group" id="list-tab_3" role="tablist">
                                        <a class="list-group-item list-group-item-action active" id="list-home-list_3" data-toggle="list" href="#list-home_2" role="tab" aria-controls="home">Всі</a>
                                        <a class="list-group-item list-group-item-action" id="list-profile-list_3" data-toggle="list" href="#list-profile_3" role="tab" aria-controls="profile">3D</a>
                                        <a class="list-group-item list-group-item-action" id="list-messages-list_3" data-toggle="list" href="#list-messages_3" role="tab" aria-controls="messages">2D</a>
                                    </div>
                                </div>
                                <div class="col-11">
                                    <div class="tab-content" id="nav-tabContent_3">
                                        <div class="tab-pane fade show active" id="list-home_3" role="tabpanel" aria-labelledby="list-home-list_3">7</div>
                                        <div class="tab-pane fade" id="list-profile_3" role="tabpanel" aria-labelledby="list-profile-list_3">8</div>
                                        <div class="tab-pane fade" id="list-messages_3" role="tabpanel" aria-labelledby="list-messages-list_3">9</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                        <div>
                            <div class="row">
                                <div class="col-1">
                                    <div class="list-group" id="list-tab_4" role="tablist">
                                        <a class="list-group-item list-group-item-action active" id="list-home-list_4" data-toggle="list" href="#list-home_4" role="tab" aria-controls="home">Всі</a>
                                        <a class="list-group-item list-group-item-action" id="list-profile-list_4" data-toggle="list" href="#list-profile_4" role="tab" aria-controls="profile">3D</a>
                                        <a class="list-group-item list-group-item-action" id="list-messages-list_1" data-toggle="list" href="#list-messages_1" role="tab" aria-controls="messages">2D</a>
                                    </div>
                                </div>
                                <div class="col-11">
                                    <div class="tab-content" id="nav-tabContent_4">
                                        <div class="tab-pane fade show active" id="list-home_4" role="tabpanel" aria-labelledby="list-home-list_4">10</div>
                                        <div class="tab-pane fade" id="list-profile_4" role="tabpanel" aria-labelledby="list-profile-list_4">11</div>
                                        <div class="tab-pane fade" id="list-messages_4" role="tabpanel" aria-labelledby="list-messages-list_4">12</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
    <div class="text-center col-12 mt-5 mb-5">
        <a href="#" class="btn btn-primary from-control col-12"><big>Купити квиток</big></a>
    </div>
</div>








{% endblock content %}